#!/bin/bash
# ------------------------------------------------------------------------------
# Configures the database on the System Under Test (SUT) for use by HammerDB
# ------------------------------------------------------------------------------

export ORACLE_BASE={{ oracle_base }}
export ORACLE_SID={{ SID }}
export ORACLE_HOME={{ oracle_home }}
export PATH={{ oracle_home }}/bin:${PATH}

# ------------------------------------------------------------------------------
# Startup Oracle Listener first
# ------------------------------------------------------------------------------

lsnrctl_status=$(lsnrctl status)

case "${lsnrctl_status}" in
  *"The command completed successfully"*)
    ;;
  *"TNS-12541: TNS:no listener"*)
    lsnrctl_startup=$(lsnrctl start)
    case "${lsnrctl_startup}" in
      *"The command completed successfully"*)
        ;;
      *)
        printf "%s\n" "${lsnrctl_startup}" >&2
        exit 1
        ;;
    esac
    ;;
  *)
    printf "%s\n" "${lsnrctl_status}" >&2
    exit 1
    ;;
esac

# ------------------------------------------------------------------------------
# Startup DB Instance second
# ------------------------------------------------------------------------------

function run_sql_cmd {
  sqlplus -S -L / as sysdba <<DONE
SET HEADING OFF FEEDBACK OFF
WHENEVER SQLERROR EXIT FAILURE
WHENEVER OSERROR EXIT FAILURE
$*
EXIT
DONE
}

db_status=$(run_sql_cmd "SELECT status FROM V\$INSTANCE;")

case "${db_status}" in
  *"ORA-01034: ORACLE not available"*)
    db_startup=$(run_sql_cmd "STARTUP")
    case "${db_startup}" in
      *"Database opened."*)
        ;;
      *)
        printf "%s\n" "${db_startup}" >&2
        exit 1
      ;;
    esac
    db_status=$(run_sql_cmd "SELECT status FROM V\$INSTANCE;")
    ;;
  *)
    ;;
esac

case "${db_status}" in
  *"OPEN"*)
    ;;
  *)
    printf "%s\n" "${db_status}" >&2
    exit 1
esac
