#!/bin/python3
# ------------------------------------------------------------------------------
# Detects whether the HammerDB schema has been created in the database on the
# System Under Test (SUT) for use by HammerDB
# ------------------------------------------------------------------------------

import os
import cx_Oracle

os.environ['ORACLE_BASE'] = '{{ oracle_base }}'
os.environ['ORACLE_SID']  = '{{ SID }}'
os.environ['ORACLE_HOME'] = '{{ oracle_home }}'

# ------------------------------------------------------------------------------
# Connect to the correct container
# ------------------------------------------------------------------------------

conn   = cx_Oracle.connect("/", mode=cx_Oracle.SYSDBA)
cursor = conn.cursor()
cursor.execute("ALTER SESSION SET CONTAINER={{ PDBName }}")

# ------------------------------------------------------------------------------
# Check whether Local Undo is enabled
# ------------------------------------------------------------------------------

sql = """
        SELECT COUNT(*) 
            FROM   dba_objects 
            WHERE  owner = 'TPCC'"""

cursor.execute(sql)
(num_objs, ) = cursor.fetchone()
if num_objs == 0:
    print('No objects defined for TPCC.')
else:
    print(f'{ num_objs } objects defined for TPCC.')

cursor.close()
conn.close()
exit(0)