#!/bin/bash
# ------------------------------------------------------------------------------
# Run HammerDB scripts in the Oracle database client environment
# https://www.hammerdb.com/docs/ch09s08.html
# ------------------------------------------------------------------------------

export ORACLE_HOME={{ oracle_home }}
export PATH=${ORACLE_HOME}/bin:{{ hammerdb_loc }}:${PATH}
export LD_LIBRARY_PATH=${ORACLE_HOME}/lib:${LD_LIBRARY_PATH}

cd {{ hammerdb_loc }}

./hammerdbcli auto $1
