#!/usr/bin/tclsh
# ------------------------------------------------------------------------------
# Runs an iteration of the TPC-C performance test
# ------------------------------------------------------------------------------

{% include 'logon_oracle.tcl.inc' %}

# ------------------------------------------------------------------------------
# Determine if schema for TPC-C exists
# ------------------------------------------------------------------------------

{% include 'count_tpcc_objs.tcl.inc' %}

if {$num_tpcc_objs == 0} { 
    puts stderr "TPCC schema has not been built"
    exit 1
}

oralogoff $lda

# ------------------------------------------------------------------------------
# Set up Virtual Users
# ------------------------------------------------------------------------------

print vucreated

customscript {{ custom_load_test_script }}
vucreate
vustatus
vurun
runtimer 600
waittocomplete
vudestroy
clearscript

