#!/bin/bash
# ------------------------------------------------------------------------------
# Stops Oracle Database Instance and Listener
# ------------------------------------------------------------------------------

export ORACLE_BASE={{ oracle_base }}
export ORACLE_HOME={{ oracle_home }}
export PATH={{ oracle_home }}/bin:${PATH}
export ORACLE_SID={{ SID }}

sqlplus / as sysdba <<DONE
shutdown immediate
exit
DONE

lsnrctl stop
exit 0

