#!/bin/bash
# ------------------------------------------------------------------------------
# Starts Oracle Listener
# ------------------------------------------------------------------------------

export ORACLE_BASE={{ oracle_base }}
export ORACLE_HOME={{ oracle_home }}
export PATH={{ oracle_home }}/bin:${PATH}

# ------------------------------------------------------------------------------
# Startup Oracle Listener if not started already 
# ------------------------------------------------------------------------------

lsnrctl_status=$(lsnrctl status)

case "${lsnrctl_status}" in
  *"The command completed successfully"*)
    ;;
  *"TNS-12541: TNS:no listener"*)
    lsnrctl_status=$(lsnrctl start)
    case "${lsnrctl_status}" in
      *"The command completed successfully"*)
        ;;
      *)
        printf "%s\n" "${lsnrctl_status}" >&2
        exit 1
        ;;
    esac
    ;;
  *)
    printf "%s\n" "${lsnrctl_status}" >&2
    exit 1
    ;;
esac

printf "%s\n" "${lsnrctl_status}"
exit 0
